/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* Container for Sections */
.av-container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
}

/* Styling for Images */
.av-image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.av-image-section .av-image {
    width: 100%;
    height: auto;
    max-width: 45vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Content Section */
.av-content-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Headings and Text Styling */
.av-content-section .av-heading {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.av-content-section .av-feature {
    margin-bottom: 20px;
}

.av-content-section .av-feature .av-feature-heading {
    font-size: 1.25rem;
    font-weight: 700;
    color: #555;
}

.av-content-section .av-feature .av-feature-description {
    font-size: 1rem;
    color: #777;
}

/* Button Styling */
.av-button {
    background-color: #3b82f6;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.av-button:hover {
    background-color: #2563eb;
}

/* Relaxation and Focus Section Styling */
.relaxation-focus-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.relaxation-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 45%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.relaxation-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.relaxation-card-content {
    padding: 20px;
}

.relaxation-card-content h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: #333;
}

.relaxation-card-content p {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .av-container {
        flex-direction: column;
    }
    .av-content-section {
        padding: 20px;
    }
    .relaxation-card {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .relaxation-card img {
        width: 100%;
        height: auto;
    }
}
