.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
}

.game-text-content {
  width: 100%;
  max-width: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;


}

.game-text-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 10px 0;
  color: #000000;
}

.game-text-content p {
  font-size: 30px;
  color: #3b82f6;
  margin: 0;
}

.game-text-content button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #3b82f6;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-image-content {
  max-width: 50%;
}

.game-image-content img {
  width: 30vw;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .game-container {
    flex-direction: column;
    text-align: center;
  }
  .game-text-content,
  .game-image-content {
    max-width: 100%;
    padding: 0;
  }
  .game-text-content {
    padding-bottom: 20px;
  }
}
